<h3> Hello! Welcome to the library! </h3> 
<p> Existing User? Log in <%= link_to 'Here!', user_session_path %> </p>
<p>New User? Sign up  <%= link_to 'Here!', new_user_registration_path %></p>
<p>Admin? Log in <%= link_to 'Here!', admin_session_path %> </p>
