<table class="table table-striped">
	<thead>
		<tr>
			<th>書名</th>
			<th>剩餘幾本</th>
			<th></th>
		<tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @book.title %></td>
			<td><%= @book.no_copies %></td>
			<td>
				<%if current_user.books.ids.include?(@book.id)%>
					<div class="btn btn-primary">已借</div>
				<%else%>
					<%= link_to books_issue_path(id: @book), :class => "btn btn-success",:method => :patch do%>
						借書
					<%end%>
				<%end%>
			</td>
		</tr>
	</tbody>
</table>

<div>
	<img src="<%=@book.picture_url%>" alt="">
</div>

