<html>

<head>

</head>

<body style="background-color: #000">

	<div style="padding: 20px; margin: 12% auto; width: 60%; background-color: rgba(249,249,249, 0.9); position: relative; height: 50%; color: #000; display: flex; align-items: center; justify-content: center; ">

	<div style = "background-color: #0D47A1; color: #BBDEFB; width: 250px; height: 250px; display: inline-flex; align-items: center; justify-content: center; margin: 20px; border-radius: 8px; cursor: pointer;">
		USERS
	</div>

	<div style = "background-color: #0D47A1; color: #BBDEFB; width: 250px; height: 250px; display: inline-flex; align-items: center; justify-content: center; margin: 20px; border-radius: 2px; ">
		ADMINS
	</div>

</div>

	</div>

</body>

</html>